# IDE
.idea/
.vscode/
.DS_Store

# Build
bin/
obj/
*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.deps.json
*.cache
*.txt
*.g.cs
*.editorconfig
*.AssemblyInfo.cs

# NuGet
*.nuget.*
project.*
rider.*

# User files
*.user
*.suo
